@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Poppins:wght@200;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: "poppins", sans-serif;
}

:root{
    --main-color : #2C73D2;
    --second-color : #D9D9D9;
    --third-color : #333333;
}
/* navbar styles */

nav{
 background: var(--main-color);
 height: 80px;
 width: 100%;
 display: flex;
 justify-content: space-between;
 padding-left: 4rem;
 padding-right: 4rem;
 position: fixed;
 z-index: 50;
}
nav h1{
    color: #ffffff;
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
}
nav ul{
    display: flex;
    gap: 8rem;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    border-radius: 3px;
}
a.active, a:hover{
    background: #1b9bff;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}


#check{
    display: none;
}

.about-me{
    width: 80%;
    padding-left:10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding-top: 2rem;
    
    
}
.texts{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 30rem;
    font-family: "poppins", sans-serif;
}
.texts h2{
    font-size: 46px;
}
.texts h4{
    font-size: 24px;
    font-weight: 400;
}
.texts p{
    color: #5c5b5b;
    font-weight: 300;
}

.about-image img{
    
    position: relative;
    z-index: 10;
    border-radius: 40% ;
   
}
/* Start of skills section */

.skills-lever{
    display: flex;
    justify-content: space-between;
    padding: 10rem;
    padding-top: 0;
}
.fields{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.html {
    width: 300px;
    height: 6px;
    background-color: var(--second-color);
}
.html .percentage{
    width: 90%;
    height: 100%;
    background-color: var(--main-color);
}
.html-texts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "poppins",sans-serif;
    font-size: 20px;
}
.CSS {
    width: 300px;
    height: 6px;
    background-color: var(--second-color);
}
.CSS .percentage{
    width: 80%;
    height: 100%;
    background-color: var(--main-color);
}
.CSS-texts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "poppins",sans-serif;
    font-size: 20px;
}
.Javascript .percentage{
    width: 85%;
    height: 100%;
    background-color: var(--main-color);
}
.Javascript {
    width: 300px;
    height: 6px;
    background-color: var(--second-color);
}
.Javascript-texts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "poppins", sans-serif;
    font-size: 20px;
}
.fields{
    font-family: "poppins", sans-serif;
    font-size: 18px;
}

.skills-lever button{
    width: 13rem;
    height: 5rem;
    background-color: #fff;
    border-radius: 2rem;
    color: var(--main-color);
    font-weight: 600;
    border: 1px solid var(--main-color);
    margin-top: 6rem;
    font-family: "poppins", sans-serif;
    font-size: 24px;
    
}
.skills-lever button:hover{
    background-color: var(--main-color);
    border: 1px solid #fff;
    color: #fff;
    
}
/* Footer */
.footer {
    background-color: var(--third-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 4rem;
}

.footer a {
    font-weight: 600;
    color: var(--second-color);
    text-decoration: none;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.socials {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid var(--second-color);
}

.social-divider {
    background-color: var(--main-color);
    height: 3rem;
    width: 0.05rem;
    transform: rotate(25deg);
}

.talk-button {
    background-color: var(--main-color);
    border-style: none;
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 5rem;
    color: var(--second-color);
    font-weight: 600;
}

.footer-navigation ul {
    display: flex;
    gap: 4rem;
}
.footer i{
    scale: 2;
}
.project-navigator i{
    color: var(--second-color);
}