@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Poppins:wght@200;400;600&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: "poppins", sans-serif;
}

:root{
    --main-color : #2C73D2;
    --second-color : #D9D9D9;
    --third-color : #333333;
}
/* navbar styles */

nav{
 background: var(--main-color); 
 height: 80px;
 width: 100%;
 display: flex;
 justify-content: space-between;
 padding-left: 4rem;
 padding-right: 4rem;
 position: fixed;
 z-index: 50;
 top: 0;
}
nav h1{
    color: #ffffff;
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
}
nav ul{
    display: flex;
    gap: 6rem;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    border-radius: 3px;
}
a.active, a:hover{
    background: #1b9bff;
    transition: .5s;
}

label #btnn,
label #cancel{
    
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 0px;
    cursor: pointer;
    display: none;

}

#check{
    display: none;
}

/* Header styles */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 18rem;
    width: 100%;
    height: 90vh;
    background-color: var(--main-color);
}
.skillss h1{
    margin-left: 4rem;
    margin-top: 2rem;
}
.intro{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    font-family: "poppins", sans-serif;
}
.intro h1{
    color: #fff;
    margin-top: 10rem;
    font-size: 54px;
}
.intro h3{
    color: #fff;
    font-size: 32px;
    font-weight: 500;
}

.intro button{
width: 13vw;
height: 4vw;
border-radius: 20px;
background: transparent;
border: 1px solid #fff;
color: #fff;
}

.icon {
    scale: 1.5;
}

.atlp{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 30px;
    font-weight:bold;
 }
 .atlp button:hover{
        background-color: #fff;
        color: var(--main-color);
        border: 1px solid var(--main-color);
 }
 .atlp button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
 }
 .image img{
    display: inline-block;
    position: relative;
    z-index: 10;
    border-radius: 40% ;
    
 }

 .ghost img{
    position: absolute;
    top: 1rem;
    scale: 1.2;
    right: 12rem;
    border-radius: 40% ;
    z-index: 0;
    opacity: 0.2;
 }
 /* skills section */

.skillss img{
    width: 4rem;
}
.skillss{
    display: block;
    gap: 0;
}
.skillss p{
    font-size: 14px;
}
.front-end:hover{

    box-shadow: 4px 4px 19px 2px rgba(0, 0, 0, 0.25);
}
.front-end{
    width: 300px;
    height: 300px;
    border: 1px solid var(--main-color);
    /* margin: auto; */
    margin-top: 8rem;
    font-family: "poppins",sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15%;

}
.front-end h2{
    font-size: 20px;
}
.ui-ux:hover{
    box-shadow: 4px 4px 19px 2px rgba(0, 0, 0, 0.25);
}
.ui-ux{
    width: 300px;
    height:300px;
    border: 1px solid var(--main-color);
    /* margin: auto; */
    margin-top: 8rem;
    font-family: "poppins", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15%;
}
.ui-ux h2{
    font-size: 20px;
}

.back-end:hover{

    box-shadow: 4px 4px 19px 2px rgba(0, 0, 0, 0.25);
}
.back-end{
    width: 300px;
    height: 300px;
    border: 1px solid var(--main-color);
    /* margin: auto; */
    margin-top: 8rem;
    margin-bottom: 2rem;
    font-family: "poppins"sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15%;
}
.back-end h2{
    font-size: 20px;
}
.display-skills{
    display: flex;
    gap: 8rem;
    margin-left: 8rem;
    flex-wrap: wrap;
}


/* Projects section */

.project{
    display: flex;
    flex-direction: column;
    padding: 4rem;
    overflow: hidden;
}

.project ::-webkit-scrollbar {
    display: none;
}

.project-container {
    display: flex;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-bottom: 1rem;
    gap: 4rem;
    padding-right: 17px;
    box-sizing: content-box;
    scrollbar-width: none;
    
}
.project h1{
    justify-content: center;
    align-items: center;
} 
.cv-temp{
    min-width: 350px;
    width: 350px;
    height: 370px;
    border: none;
    margin: auto;
    margin-top: 8rem;
    font-family: "poppins",sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15%;

}
.cv-temp:hover{

    box-shadow: 4px 4px 19px 2px rgba(0, 0, 0, 0.25);
}

.project img{
    width: 100%;
}

.project-navigator {
    display: grid;
    place-items: center;
    width: 4rem;
    height: 4rem;
    background-color: var(--main-color);
    border-radius: 50%;
    align-self: flex-end;
}


/* Footer */
.footer {
    background-color: var(--third-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 4rem;
}

.footer a {
    font-weight: 600;
    color: var(--second-color);
    text-decoration: none;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.socials {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid var(--second-color);
}

.social-divider {
    background-color: var(--main-color);
    height: 3rem;
    width: 0.05rem;
    transform: rotate(25deg);
}

.talk-button {
    background-color: var(--main-color);
    border-style: none;
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 5rem;
    color: var(--second-color);
    font-weight: 600;
}

.footer-navigation ul {
    display: flex;
    gap: 4rem;
}
.footer i{
    scale: 2;
}
.project-navigator i{
    color: var(--second-color);
}


/* MEDIA QUERRIES */

@media (max-width: 1118px) {
    
    nav h1{
       left: 8%;
    }
}
@media (max-width: 944px) {
    
    nav h1{
       left: 6%;
       top: 20px;
       width: 130px;
    }

    nav ul li a{
        font-size: 17px;
    }
    /* end of navbar */
    .intro h1{
        margin-top: 1rem;
        font-size: 32px;
    }
    .intro h3{
        color: #fff;
        font-size: 20px;
        font-weight: 500;
    }
    .ghost img{
        
        top: 1rem;
        scale: 1;
        right: 1rem;
        
     }
     .image img{
        position: relative;
        z-index: 10;
        border-radius: 40%;
     }

     .atlp{
        display: flex;
        flex-direction: column;
        gap: 2px;
        font-size: 13px;
        font-weight:bold;
     }
     .intro{
        display: flex;
        flex-direction: column;
        gap:2rem;
        font-family: "poppins", sans-serif;
    }
    .intro button{
        width: 17vw;
        height: 5vh;
        border-radius: 20px;
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
        margin-top: 4rem;
        }
        .header{
            display: flex;
            align-items: center;
            /* justify-content: space-between; */
            padding-left: 4rem;
            padding-right: 18rem;
            width: 100%;
            height: 90vh;
            background-color: var(--main-color);
        }
       
}
@media (max-width: 860px) {
    
    label #btnn{
       display:block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: var(--main-color);
        top: 80px;
        left: -100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 50px,0;
        line-height: 30px; 
        transition: all .5s;
    }
    nav ul li{
        display: block;
    }

    nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    #check:checked ~  label #btnn{
        display: none;
    }
    #check:checked ~  label #cancel{
        display: block;
    }
    /* end of navigation bar */
    .intro h1{
        margin-top: 1rem;
        font-size: 20px;
    }
    .intro h3{
        color: #fff;
        font-size: 16px;
        font-weight: 500;
    }
    .ghost img{
        width: 300px;
        top: 5rem;
        scale: 0.8;
        left: 10rem;
        
     }
     .image img{
        scale: 0.8;
        margin-top: 1rem;
        width: 200px;
        z-index: 10;
        border-radius: 40%;
     }
     .image{
        width: 0px;
        height: 300px;
     }

     .atlp{
        display: flex;
        flex-direction: column;
        gap: 2px;
        font-size: 10px;
        font-weight:bold;
     }
     .intro{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        font-family: "poppins", sans-serif;
    }
    .intro button{
        width: 30vw;
        height: 6vh;
        border-radius: 20px;
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
        margin-top: 4rem;
        }
        .header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 4rem;
            padding-right: 18rem;
            width: 100%;
            height: 90vh;
            background-color: var(--main-color);
            margin-top: 2rem;
        } 
}